* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* 
1. Vi tr
2.Kich thuoc
3.Mau sac
4.Kieu dang
*/

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

#main{
background-color: rgb(126, 126, 3);
}
#header {
    height: 45px;
    background-color: #000;
}
#nav li {
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    padding:0px 24px;
    display: inline-block;
}

#nav li a:hover{
    background-color: #fff;
    color: #000;
    
}

#nav .subnav{
    /* display: none; */
    position: absolute;
    color: #000;
    background-color:  #fff ;
}



#slider{
    min-height: 500px;
    background-color: yellow;
}
#content{
}
#footer{

}