* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}
/* 
1. Vi tr
2.Kich thuoc
3.Mau sac
4.Kieu dang
*/

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* #main{
background-color: rgb(126, 126, 3);
} */

header {
    background-color: #000;
    display: flex;
	justify-content: space-between;
	padding: 12px 30px;
	height: 70px;
	align-items: center;
}

.logo {
	flex:2;
}

#nav {
    flex: 6;
	display: flex;
}

#nav li {
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    padding:0px 24px;
    display: inline-block;
}

#nav li:hover .subnav{
    visibility: visible;
	top: 70px;
    
}

#nav .subnav{
    position: absolute;
	width: 150px;
	border: 2px solid #000;
	padding: 10px 0 10px 20px;
	visibility: hidden;
	top: 50px;
	transition: 0.1s;
    background-color: orange;
    z-index: 1; 
}

#nav .subnav ul {
    padding: 10px;
}

#nav .subnav li a {
    color: #000;
}


.login {
	flex:1;
	display: flex;
}

.login > li {
	padding: 0 12px;
}

.login > li:first-child {
	position: relative;
}

.login > li:first-child input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #333;
}

.login > li:first-child i {
	position: absolute;
	right: 10px;
}

#slider {
	padding-bottom: 30px;
	border-bottom: 2px solid #000;
	overflow: hidden;
    position: relative;
}

#slider .background {
	display: block;
	position: relative;
	padding-top: 56.25%;
	transition: 0.3s;
    z-index: 0;
}

.background img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dot-container {
	position: absolute;
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.dot {
	height: 16px;
	width: 16px;
	background-color: #ccc;
	border-radius: 50%;
	margin-right: 12px;
	cursor: pointer;
}

.dot.active{
	background-color: #333;
}

/* #slider{
    min-height: 500px;
    background-color: yellow;
}
#content{
}
#footer{

} */